@page
@model SpeakerModel
@{
    ViewData["Title"] = "Speaker Details";
}

 <ol class="breadcrumb">
     <li class="breadcrumb-item"><a asp-page="/Speakers">Speakers</a></li>
     <li class="breadcrumb-item active">@Model.Speaker!.Name</li>
 </ol>

 <div class="border-bottom mb-3">
    <h3>@Model.Speaker.Name</h3>
 </div>

 <p>@Model.Speaker.Bio</p>
 
@if (Model.Speaker.Sessions.Any())
{
    <h5>Sessions</h5>
    <div class="row">
        <div class="col-md-5">
            <ul class="list-group">
                @foreach (var session in Model.Speaker.Sessions)
                {
                    <li class="list-group-item">
                        <a asp-page="Session" asp-route-id="@session.Id">@session.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
